#streaming{
    background-color: #FFFFFF;
    padding-top: 60px;
    padding-bottom: 60px;
}
#streaming h2{
    color: #005780;
    font-style:normal ;
    font-weight: 400;
    font-size: 50px;
    line-height: 70px;
    margin-top: 80px;
}
#streaming{
    color: #70706e;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}